<!--button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title-->
      <header>
        <div class="logo_sm">
          <img src="assets/images/logo.png" alt="">
        </div>
      
        <div class="head_right">
          <a><i class="fa fa-mobile" aria-hidden="true"></i></a>
          <a><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></a>
          <a><i class="fa fa-search" aria-hidden="true"></i></a>
          <a><i class="fa fa-bars" menuToggle aria-hidden="true"></i></a>
          <a><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
      
        </div>
      </header>