<!-- Generated template for the ReviewsComponent component -->
<div>
  <hr>
  <div class="review-write">
    <button type="button" class="mybutton">Write a Review</button>
  </div>
  <div class="clearfix"></div>
  <div class="djhwd">
     <ion-input placeholder=" Name"></ion-input>
  </div>
  <div class="djhwd">
    Email
  </div>
  <div class="inut-rat">
    Rating
    <div class="star-img">
      <img src="assets/images/star.png">
    </div>
  </div>
  <div class="djhwd">
    Review-Title
  </div>
  <div class="djhwd">
    Body of Review (1500)
  </div>
  <div class="review-write">
    <button type="button" class="mybutton">Submit Review</button>
  </div>
</div>
