<ion-header>
  <ion-navbar>
    <header1></header1>
  </ion-navbar>
</ion-header>
<ion-content padding> 
    <div>
        <div class="search-box">
            <div class="search-top-text">
              <h3>Registration</h3>
            </div>
          </div>
        </div> 
<form [formGroup]="todo" (ngSubmit)="logForm()"> 
    <ion-item>
    <ion-label>MemberType</ion-label>
      <ion-select (ionChange)="changemembertype($event)" formControlName="regtype" >
        <ion-option value="private_user">Private</ion-option>
        <ion-option value="wholeseller">Whole Seller</ion-option>
        <ion-option value="trader">Trader</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="private_user">
      <ion-input type="text" placeholder="First name" formControlName="firstname"></ion-input>
    </ion-item>
    <ion-item *ngIf="private_user">    
      <ion-input type="text" placeholder="Last name"  formControlName="lastname"></ion-input>
    </ion-item>
    <ion-item *ngIf="wholeseller">
      <ion-input type="text" placeholder="Whole Seller Name" formControlName="wholesellername"></ion-input>
    </ion-item>
    <ion-item *ngIf="trader">
      <ion-input type="text" placeholder="Trader Name" formControlName="tradername"></ion-input>
    </ion-item>
    <ion-item *ngIf="wholeseller || trader">
        <ion-input type="text" placeholder="Company Name" formControlName="companyname"></ion-input>
    </ion-item>
    <ion-item *ngIf="wholeseller || trader">
        <ion-textarea placeholder="Company Address" formControlName="companyaddress"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="wholeseller || trader">
        <ion-textarea placeholder="Company Registration Number" formControlName="companyregisternumber"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item> 
      <ion-input formControlName="password" placeholder="Passwords" [type]="showPassword ? 'text' : 'password'">
        <ion-icon ios="ios-eye" md="md-eye" #showhideinput></ion-icon>
      </ion-input>
    </ion-item>
    <button class="mybutton" ion-button type="submit" class="regbtn text-center" [disabled]="!todo.valid">Register</button>
  </form>
</ion-content>