@font-face {
    font-family: 'rajdhaniregular';
    src: url('../fonts/rajdhani-regular-webfont.woff2') format('woff2'),
         url('../fonts/rajdhani-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{	
	padding: 0;
	margin: 0;
	font-family: 'Rajdhani', sans-serif;
	font-size: 18px;
	color: #222;

}
.cart_pri ,.cart_pro
{
	font-family: 'Rajdhani', sans-serif;
	font-size: 11px !important;
	font-weight: bold !important;
}

.cart_imgrt p 
{
font-family: 'Rajdhani', sans-serif;
	    font-size: 14px !important;
}
}
.body_landing{
	background-color: #000;
	background-image: url(../images/land_caroil.png);
	background-position:0 150px;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
.logo{
	text-align: center;
	margin: 20px auto;
	width: 40%;
}

.logo img{
	width: 100%;
}
.land_text{
	font-family: 'Rajdhani', sans-serif;
	font-weight: 500;
	font-size: 48px;
	color: #fff;
	font-size: 20px;
	margin: 0 5%;
	text-align: center;
	position: absolute;
	bottom: 30px;
	width: 90%;
	box-sizing: border-box;
}
.land_text span{
	color: #ffc200;
}
header{
	background-color: #cd1d1d;
	padding: 10px 5%;
	width: 100%;
	float: left;
	box-sizing: border-box;
}
.logo_sm{
	width: 20%;
	float: left;
}
.logo_sm img{
	width: 100%;
}
.head_right{
	float: right;
	color: #fff;
	font-size: 24px;
}
.head_right a{
	color: #fff;
}
.head_right i{
	margin-left: 5px;
}
.banner{
	width: 90%;
	margin: 5% 5%;
	float: left;
}
.cont{
	width: 90%;
	margin: 0 5%;
	float: left;
}
.banner_part{
	width: 100%;
	float: left;
}
.banner_part img{
	width: 100%;
}
.ban_txt{
	text-align: center;
	color: #222;
	font-size: 24px;
}
.clearfix{
	clear: both;
}
.mt10{
	margin-top: 10px;
}
.mt20{
	margin-top: 20px;
}
.mt30{
	margin-top: 30px;
}
.mt40{
	margin-top: 40px;
}
.mt50{
	margin-top: 50px;
}
.text-center{
	text-align: center;
}
.top_brand{
	-webkit-box-shadow: 0px 8px 12px 0px rgba(176,176,176,1);
-moz-box-shadow: 0px 8px 12px 0px rgba(176,176,176,1);
box-shadow: 0px 8px 12px 0px rgba(176,176,176,1);
width: 100%;
border: 1px solid #dfdfdf;
padding: 10px 15px;
box-sizing: border-box;
}
.top_brand h2{
	margin: 0
}
.full_width{
	width: 100%;
}

.part3{
	width: 30%;
	float: left;
	margin-left: 1.5%;
	margin-right: 1.5%;
}
.part3 img{
	width: 100%;
}
.oil_text{
	font-size: 16px;
	font-weight: 600;
	text-align: center;
}
.search-box
{
	float: left;
	width: 100%;
	background-color: #EEEEEE;
}
.search-top-text 
{
	margin: 5%;
}
.search-result{
	width: 30%;
	float: left;
	margin-left: 5%;
	margin-top: 5%;
}
.search-pic
{
	background-color: #EEEEEE;
	float: left;
	/*margin: 15%;*/
	width: 75%;
}
.search-pic img
{
	height: 100px;
	width: 80px;
	text-align: center;
	margin: 10px auto;
	display: block;

}
.res
{
	width: 100%;
	clear:both;
}
.search-text
{
	width: 64%;
	float: left;
	margin-top: 5%;
}
.search-text-x p
{
	font-weight: 600;
	font-size: 14px;
	/*padding: 5px;*/
	margin: 0px;
}
.search-text-x button
{
	margin-top: 10px;
	margin-bottom: 10px;
}
.search-text-x label
{
	/*color: red !important;*/
	font-size:18px !important;
	text-decoration: none !important;
}
.search-text-x p:nth-child(1) {
   font-size: 18px;
}
.search-text-x p:nth-child(2) {
    color: #CD1D1D;
}
.search-text-x p:nth-child(3) {
    color: #747474;
}
.search-text-x p:nth-child(5) {
    color: #747474;
}
.compare
{
	width: 100%;
	display: block;
	float: left;
}
.compare-box {
  float: left;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  width: 35%;
}
.mybutton
{
	outline: none;
	border-radius: 5px;
	background-color: #CD1D1D;
	border:none;
	padding: 11px;
	color: #fff;
	font-size: 16px;
}
.compare-text
{
	width: 50%;
	float: left;
}
.compare-text p{
    color:#000;
    font-size: 16px;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}
.compare-text label
{
	color: #CD1D1D !important;
}
.compare-text p:nth-child(2) {
    color: #727272;
    font-weight: 600;
}
.ic-pic
{
	position: relative;
}
.pic-icons
{
	position: absolute;
	top: 37%;
	left: 20%;
	color: #fc1414;
}
.litrec {
    color: #727272;
    display: inline-block;
}
.litrec-clr
{
	background-color: red;
	color: #fff;
	margin-left: 15px;
	margin-right: 15px;
	padding: 5px;
}
.plusmi
{
	background-color: #EEEEEE; 
	padding: 5px;
}
.plusmi a
{
	padding: 10px;color: #747474;
}
.product-info
{
	margin: 5%;
}
.text-red
{
	color: red;
}
.display-tab
{
	margin: 5%;
	font-family: 'Rajdhani', sans-serif;
}
.display-tab p a
{
	display: inline-block;
	padding-right: 15px;
}
.active {
	text-decoration: underline;
	color: #CD1D1D;
}
hr
{
	color: #EEEEEE;
	background-color: #EEEEEE;
}
.review-write button
{
	float: right !important;
	text-transform: uppercase;
	border-radius: 0px !important;
}
.review-write
{
	background-color: #EEEEEE;
	width: 100%;
}
.djhwd
{
	background-color: #EEEEEE;
	width: 100%;
	color: gray;
	padding: 10px;
	margin-top: 10px;
	width: 95%;
}
.inut-rat
{
	padding-bottom: 10px;
	padding-top: 10px;
}
.extrarvw
{
	margin: 15%;
}
.extrarvw p
{
	color: #CD1D1D;
	text-decoration: underline;
	margin: 0px;
	padding: 0px;
}
.Specification-item p label:nth-child(2) {
float: right;
}
.logbtn
{
	margin-top: 20px !important;
	background-color: #CD1D1D !important;
	border-radius: 0px !important;
	display: block !important;
	text-align: center !important;
	vertical-align: middle !important;
	margin: 0 auto !important;
}
.red
{
	color: #CD1D1D !important;
}
.regbtn{

	background-color: #CD1D1D !important;
	border-radius: 0px !important;
	display: block !important;
	text-align: center !important;
	vertical-align: middle !important;
	margin: 20px auto !important;
}
.scroll-content
{
	padding: 0px !important;
}
.cart_pri
{
	font-family: 'Rajdhani', sans-serif;
	font-weight: normal !important;
}

.cart_main{
	width: 100%;
	float: left;
}
.cart_pro{
	width: 30%;
	float: left;
	margin: 0 5%;
	box-sizing: border-box;
	font-weight: normal !important;
	font-family: 'Rajdhani', sans-serif !important;
}

.cart_head{
	float: left;
	width: 100%;
	font-weight: 600;
	font-size: 14px;
}
.cart_pri{
	width: 13%;
	margin: 0 2%;
	float: left;
}
.cart_body{
	background-color: #EEEEEE;
	width: 100%;
	float: left;
	padding: 2% 0;
	font-size: 14px;
	position: relative;
}

.cart-pic{
	width: 30%;
	float: left;
	margin-top: 4%;
}
.cart-pic img{
	width: 100%;
}

.cart_imgrt{
	width: 65%;
	float: left;
	margin-left: 5%;
}

.cart_imgrt p{
	font-weight: 600;
	font-size: 14px;
	color: #747474;
	text-transform: uppercase;
	margin-bottom: 3px;
}
.cart_imgrt p+p{
	font-weight: 600;
	font-size: 15px;
	color: #222;
	text-transform: none;
}
.cart_imgrt p+p+p{
	font-weight: normal;
	font-size: 13px;
	color: #222;
	text-transform: none;
}
.cart_cross{
	position: absolute;
	top: 40%;
	right: 5%;
}
.mt8per{
	margin-top: 8%;
}
.container{
	width: 90%;
	float: left;
	margin: 0 5%;
}
.cart_area{
	width: 100%;
	float: left;
	height: 80px;
	margin-bottom: 3%;
	border: 1px solid #ccc;
	padding: 3%;
	box-sizing: border-box;
	margin-top: 2%;
}
.cart_price{
	font-weight: 600;
	font-size: 30px;
	color: #222;
	text-transform: none;
	margin-top: 10px !important;
	margin-bottom: 0px !important;
	padding: 0px;
	font-family: 'Rajdhani', sans-serif;
}
.cart_imgrt p:nth-child(2) {
    font-weight: normal !important;
    font-size: 12px !important;
    width: 100% !important;
}
.cart_pricetx{
	color: #222;
    font-size: 13px;
    font-weight: normal;
    text-transform: none;
    text-decoration: none;
    margin-top: 20px;
    padding: 0px;
}
.cart_chkout{
	background: #cd1d1d;
	padding: 3% 9%;
	float: left;
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	cursor: pointer;
	margin-top: 4%;
	margin-bottom: 4%;
	border: none;
}

.cart_input{
	width: 100%;
	float: left;
	/*margin-bottom: 3%;
	border: 1px solid #ccc;*/
	/*padding: 3%;*/
	box-sizing: border-box;
	margin-top: 2%;
}
.loginbtn{
	margin: 10px auto;
	float: none;
	display: table;
}

.cart_pricetx a{
	color: #cd1d1d;
	text-decoration: none;
}
.toolbar-md {
  background-color: #cd1d1d !important;
  color: #fff !important;
  min-height: 56px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
}
ion-navbar.toolbar {
  display: flex;
  transform: none !important;
}