<!-- Generated template for the SpecificationComponent component -->
<div>
  <hr>
	<div class="Specification-item">
		<p><label>ACEA</label><label>C2/C3</label></p>
	</div>
	<hr>
	<div class="Specification-item">
		<p><label>API</label><label>SN/CF</label></p>
	</div>
	<hr>
	<div class="Specification-item">
		<p><label>ILSAC</label><label>GF-5</label></p>
	</div>
	<hr>
		<div class="Specification-item">
		<p><label>MB</label><label>229.51</label></p>
	</div>
	<hr>
		<div class="Specification-item">
		<p><label>BMW</label><label>LL-04</label></p>
	</div>
	<hr>
		<div class="Specification-item">
		<p><label>ILSAC</label><label>LL-04</label></p>
	</div>
	<hr>
		<div class="Specification-item">
		<p><label>VW</label><label>505.01, 505.01, 502.00</label></p>
	</div>
	<hr>
		<div class="Specification-item">
		<p><label>Oil Type</label><label>Fully Synthetic</label></p>
	</div>
</div>
