<!--
  Generated template for the MyOrderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton>
    <header1></header1>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="search-box">
        <div class="search-top-text">
          <h1>My Order</h1>
        </div>
      </div> 
      <div *ngIf="gggggggggggggg">
        <div *ngFor="let single_cart of cart_items; let i = index" class="cart_body mt10">

          <div class="cart_pro">
              <div class="cart_imgrt">
                  <p>{{single_cart.date}}</p>
              </div>
            <div class="cart-pic">
              <img class="text-center" src="{{single_cart.img}}" alt="">
            </div>
            <div class="cart_imgrt">
              <p>{{single_cart.title}}</p>
              <p>Size: {{single_cart.product_size}}</p>
              <p>Qty: {{single_cart.qty}}</p>
            </div>
          </div>
          <div class="cart_pri mt8per">£{{single_cart.price}}</div>
          
        </div>
    </div>
</ion-content>
